<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale">
        <title><%=title%></title>
    </head>
    <body>
        <h1>User List</h1>
        <input type="text" id="name" placeholder="Write your name">
    </body>
</html>